* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Trebuchet MS", sans-serif;
   /* outline: solid 1px #f00; */
}
:root {
   --header-h: 56px;
   --footer-h: 56px;
   --font-size: 32px;
   --pages-w: 36px;
   --gap: 5px;
   --cursor: pointer;
}
.cursor {
   cursor: var(--cursor);
}
/* remove size increase and decrease button */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}
input[type="number"] {
   -moz-appearance: textfield;
}

x {
   color: #fff;
   font-weight: 700;
}
y {
   color: #ff5100;
   font-weight: 700;
}
z {
   color: #ffff00;
   font-weight: 500;
}
w {
   color: #02a238;
}

.btn {
   background: rgba(0, 0, 0, 0.1);
   border-radius: var(--gap);
   border: solid 1px;
   box-sizing: 1px 1px 2px #000000;
}

body {
   position: relative;
   width: 100svw;
   height: 100svh;
   background: #dddddd;
   overflow: hidden;
}

/* ==================== 
        All Icons
  ==================== */
#icon-grid {
   --m: 10px;
   position: relative;
   max-width: 100%;
   height: calc(100% - var(--header-h) + var(--footer-h));
   padding: var(--m) 1rem;
   display: flex;
   justify-content: center;
   align-items: start;
   overflow-x: hidden;
   overflow-y: scroll;
}

#icon-grid #scroll-list {
   position: relative;
   width: 100%;
   height: auto;
   display: grid;
   gap: calc(var(--font-size) / 4);
   grid-template-columns: repeat(
      auto-fill,
      minmax(calc(var(--font-size) * 2.5), 1fr)
   );
   padding-bottom: calc(var(--font-size) * 4);
}
#icon-grid #scroll-list .icon {
   position: relative;
   width: 100%;
   height: calc(var(--font-size) * 2.5);
   border-radius: calc(var(--font-size) / 6);
   display: grid;
   border: solid 2px #ffffff;
   grid-template-rows: 5fr 3fr;
   box-shadow: 0 0 0 #000;
   background: #eeeeee;
   cursor: var(--cursor);
   overflow: hidden;
   transition: background ease-in-out 200ms, box-shadow ease-in-out 200ms;
}
#icon-grid #scroll-list .icon.hide {
   display: none;
}
#icon-grid #scroll-list .icon:hover {
   background: radial-gradient(circle, #b9feff 0%, #00fff6 100%);;
   box-shadow: 0 calc(var(--gap) / 2) var(--gap) #000;
}
#icon-grid #scroll-list .icon i {
   font-size: var(--font-size);
   color: #221a4b;
   display: flex;
   justify-content: center;
   align-items: flex-end;
   padding-bottom: var(--gap);
}
#icon-grid #scroll-list .icon p {
   font-size: calc(var(--font-size) / 4);
   color: #000;
   display: grid;
   padding: 2px 3px;
   background: rgba(255, 255, 255, 0.2);
   place-items: center;
   text-align: center;
   transition: background ease-in-out 200ms;
}
#icon-grid #scroll-list .icon:hover p {
   background: rgba(255, 255, 255, 0.5);
}

/* ==================== 
  Icon Selector Window
  ==================== */
#icon-selector-window {
   position: fixed;
   width: 100svw;
   height: 100svh;
   left: 0;
   top: 0;
   background: rgba(0, 0, 0, 0.6);
   backdrop-filter: blur(3px);
   z-index: 11;
   display: none;
   place-items: center;
}
#icon-selector-window.active {
   display: grid;
}
#icon-selector-window #content {
   position: relative;
   width: 300px;
   height: auto;
   display: grid;
   place-items: center;
   background: #ddd;
   border-width: 3px;
   border-style: solid;
   border-color: #fff #999 #999 #fff;
   padding: 30px 20px;
   border-radius: 5px;
}
#icon-selector-window #content #content-id {
   position: absolute;
   z-index: 1;
   left: 10px;
   top: 10px;
   font-size: 0.9rem;
   font-weight: 700;
   color: #aaa;
   cursor: copy;
}
#icon-selector-window #content #icon-title {
   position: relative;
   width: 100%;
   height: 40px;
   display: grid;
   place-items: center;
   overflow-y: hidden;
}
#icon-selector-window #content #icon-box {
   position: relative;
   width: auto;
   height: calc(6rem * 1.3);
   display: grid;
   place-items: center;
}
#icon-selector-window #content #icon-box i {
   font-size: 6rem;
   color: #002472;
   cursor: var(--cursor);
   transition: color ease-in-out 200ms;
}
#icon-selector-window #content #icon-box i:hover {
   color: #181820;
}
#icon-selector-window #content #copy-tag-sec {
   position: relative;
   width: 100%;
   height: 45px;
   display: grid;
   grid-template-columns: 14fr 2fr;
   place-items: center;
   margin: 20px 0;
   padding: var(--gap);
   background: #181820;
   transition: background ease-in-out 200ms;
   border-radius: 10px;
}
#icon-selector-window #content #copy-tag-sec:hover {
   background: #000000;
}
#icon-selector-window #content #copy-tag-sec #tag-text {
   position: relative;
   width: 100%;
   height: 100%;
   overflow-y: hidden;
}
#icon-selector-window #content #copy-tag-sec #tag-text #copy-text {
   position: relative;
   min-width: 100%;
   width: max-content;
   height: 100%;
   display: flex;
   font-size: 0.8rem;
   padding: 0 5px;
   align-items: center;
   justify-content: center;
}
#icon-selector-window #content #copy-tag-sec #tag-text #copy-text #text-class-name {
   cursor: copy;
}
#icon-selector-window #content #copy-tag-sec #show-copy-status {
   position: relative;
   width: 100%;
   height: 100%;
   display: grid;
   place-items: center;
}
#icon-selector-window #content #copy-tag-sec #show-copy-status i {
   color: #ffffff;
   font-size: 1.1rem;
   cursor: copy;
}
#icon-selector-window #content #copy-tag-sec #show-copy-status p {
   position: fixed;
   height: 40px;
   width: 100px;
   bottom: 15svh;
   left: calc(50% - 50px);
   border-radius: 6px;
   background: #eeeeee;
   border: solid 3px #fff;
   place-items: center;
   box-shadow: 0 0 10px #000000;
   display: none;
   font-weight: 700;
   z-index: 20;
}
#icon-selector-window #content #copy-tag-sec #show-copy-status p.active {
   display: grid;
}
#icon-selector-window #content #close-button {
   position: relative;
   width: 100%;
   height: auto;
   box-shadow: 0 1px 3px #000;
   padding: 10px 0;
   border-radius: 20px;
   text-align: center;
   text-transform: uppercase;
   background: #fff;
   font-weight: 600;
   transition: linear 200ms;
   cursor: var(--cursor);
}
#icon-selector-window #content #close-button:hover {
   background: #181820;
   color: #ff0000;
   user-select: none;
   box-shadow: 0 0 3px #000;
}

/* ==================== 
   Info for download
  ==================== */

#use-info {
   position: fixed;
   width: 100%;
   height: calc(var(--footer-h) * 2);
   z-index: 1;
   background: #d3d3d3;
   bottom: calc(var(--footer-h) * -1.2);
   left: 0;
   display: grid;
   border: solid 3px #02a238;
   grid-template-columns: 6fr 2fr;
   place-items: center;
   padding: 2rem;
   transition: bottom linear 300ms;
}

#use-info.active {
   bottom: var(--footer-h);
}
#use-info #footer-close {
   position: absolute;
   top: 5px;
   right: 5px;
   color: #f00;
   font-size: 1.6rem;
   cursor: var(--cursor);
}
#use-info #copyright {
   position: absolute;
   left: 10px;
   bottom: 5px;
   font-size: 0.6rem;
   text-decoration: none;
   color: #444;
   font-weight: 900;
}
#use-info #use-link {
   display: flex;
   gap: 5px;
   text-decoration: none;
   color: #003a51;
   justify-content: center;
   align-items: center;
   padding: 5px 20px;
   border-radius: 6px;
   border: 1px #0000ff solid;
   background: rgba(0, 0, 0, 0.1);
}
#use-info #use-link i:first-child {
   font-size: 0.9rem;
}
#use-info #download-icons {
   font-size: 1.5rem;
   text-decoration: none;
   color: #1639ff;
}
#use-info a {
   display: flex;
   gap: var(--gap);
}
#use-info a p {
   font-size: 1rem;
}

@media only screen and (min-width: 800px) {
   #use-info > * {
      scale: 1.5;
   }
   #use-info #copyright {
      left: 30px;
      bottom: 10px;
   }
}

@media (prefers-color-scheme: dark) {
   body {
       background-color: #222222;
   }

   #icon-grid #scroll-list .icon {
      border: solid 2px #000000;
      box-shadow: 0 0 0 #000000;
      background: #282a2e;
   }

   #icon-grid #scroll-list .icon:hover {
      background: radial-gradient(circle, #000ba9 0%, #000547 100%);
      box-shadow: 0 var(--gap) calc(var(--gap)*2) #000000;
   }
   #icon-grid #scroll-list .icon i {
      color: #e1fff9;
   }
   #icon-grid #scroll-list .icon p {
      color: #ffffff;
      background: rgba(0, 0, 0, 0.2);
   }
   #icon-grid #scroll-list .icon:hover p {
      background: rgba(0, 0, 0, 0.5);
   }

   #use-info {
      background: #000000;
      border: solid 3px #400064;
   }

   #icon-selector-window {
      background: rgba(0, 0, 0, 0.7);
   }
   #icon-selector-window #content {
      background: #282a38;
      border-style: solid;
      border-color: #fff #888 #888 #fff;
   }

   #icon-selector-window #content #content-id {
      color: #6d6d6d;
   }
   #icon-selector-window #content #icon-box i {
      color: #d1cfff;
   }
   #icon-selector-window #content #icon-box i:hover {
      color: #ffffff;
   }
   #icon-selector-window #content #close-button {
      box-shadow: 0 2px 6px #000000;
      background: #111111;
      color: #ffffff;
   }
   #icon-selector-window #content #close-button:hover {
      background: #adadad;
      color: #ff0000;
      box-shadow: 0 0 2px #000;
   }
}